/*

/.*

!/.gitignore
!/.travis.yml
!/AUTHORS
!/COPYING
!/ChangeLog
!/Doxyfile
!/INSTALL
!/Makefile.am
!/NEWS
!/README
!/README-JP.md
!/README.md
!/configure.ac
!/doc
!/m4/
/m4/*
!/m4/libtool.m4
!/m4/ltoptions.m4
!/m4/ltsugar.m4
!/m4/ltversion.m4
!/m4/lt~obsolete.m4
!/src/
/src/*
!/src/Makefile.am
!/src/bin/
/src/bin/*
!/src/bin/Makefile
!/src/bin/l2agent.c
!/src/bin/l2switch.c
!/src/include/
/src/include/*
!/src/include/Makefile.am
!/src/include/binary.h
!/src/include/datalink.h
!/src/include/fdb.h
!/src/include/htip.h
!/src/include/ifinfo.h
!/src/include/timer.h
!/src/include/tlv.h
!/src/include/upnp.h
!/src/lib/
/src/lib/*
!/src/lib/Makefile.am
!/src/lib/binary.c
!/src/lib/datalink.c
!/src/lib/fdb.c
!/src/lib/htip.c
!/src/lib/ifinfo.c
!/src/lib/timer.c
!/src/lib/tlv.c
!/src/lib/upnp.c

